
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<link rel="stylesheet" href="styles/index.css">
	<script src="/script/script.js"></script>
</head>
<body>
	

	<div id="header">
		<div style="font-size: 30; margin: 30; padding-bottom: 30;" >
			<h1 id="title">Shoppers Stop</h1>
			<Link href="/">
				<a href="/" style="font-size: 30; margin: 30; padding-bottom: 30;">Home</a> &nbsp; &nbsp; &nbsp; 
			</Link>
			<Link href="/create">
				<a href="/create" style="font-size: 30; margin: 30; padding-bottom: 30;">Create Product</a> &nbsp; &nbsp; &nbsp; 
			</Link>
			<Link href="#">
				<a style="font-size: 30; margin: 30; padding-bottom: 30;">Contact Us</a>
			</Link>
		</div>
	</div>
	
	
	<div id="items_list" class="gallery">
		
	</div>

</body>
</html>

